.container{
    width: 84%;
    padding: 0% var(--padding-sides);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}

.navContainer{
    display: flex;
    flex-direction: row;
}

.contactInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infoSection{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}