.container{
    width: 84%;
    padding: 4% var(--padding-sides);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-11);
    height: 360px;  
    margin-top: 6%;
}

.mainInfoSection{
    height: 40%;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoContainer{
    height: 48%;
}

.navContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navlink {
    text-decoration: none;
    font-family: Lexend-Regular;
    color: #E4E4E7;
    font-size: 16px;
}

.contactInfoContainer{
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 70%;
    justify-content: space-between;
}

.contactInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infoSection{
    width: 100%;
    height: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray-10);
    border: 1px solid var(--gray-15);
    padding: 0% 2%;
    box-sizing: border-box;
    border-radius: 40px;
}

.contactInfoText{
    margin-left: 4%;
    color: #E4E4E7;
    font-family: Lexend-Regular;
    font-size: 16px;
}

.contactInfoImageContainer{
    display: flex;
}

.textContainer{

}

.socialLinksContainer{
    display: flex;
    flex-direction: row;
    width: 12%;
    justify-content: space-between;
    align-items: center;
}

.socialLink{
    width: 44px;
    height: 44px;
    background-color: var(--green-60);
    border-radius: 40px;
    display: flex;
}

.socialLinkImage{
    margin: auto;
    width: 50%;
}

.contactInfoImage{
    margin: auto;
    width: 100%;
}

.externalLinkContainer{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.externalLink{
    font-family: Lexend-Light;
    font-size: 16px;
    color: #B3B3B3;
    margin-right: 2%;
}

@media (max-width: 1100px) {
    .container{
        height: max-content;
    }

    .mainInfoSection{
        margin-top: 4%;
        width: 100%;
        justify-content: space-between;
        height: 28%;
    }

    .contactInfoContainer{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 4%;
    }
    .contactInfo{
        width: 32%;
    }

    .contactInfoText{
        margin-left: 0%;
        font-size: 14px;
    }

    .infoSection{
        margin-top: 12%;
        flex-direction: column;
        width: 100%;
        margin-bottom: 6%;
        position: relative;
        height: 120px;
    }

    .textContainer{
        margin-top: 10%;
    }

    .externalLinkContainer{
        width: 100%;
        justify-content: center;
        
    }

    .socialLinksContainer{
        top: -25%;
        width: 100%;
        justify-content: center;
        position: absolute;
    }
}


@media (max-width: 800px) {
    .contactInfoContainer{
        flex-direction: column;
        align-items: center;
    }

    .contactInfo{
        width: 50%;
    }
}