.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% var(--padding-sides);
}

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}