
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.subContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.descriptionSection{
    width: 70%;
}

.buttonsSection{
    width: 27%;
    height: 80%;
}

@media (max-width: 1100px) {
    

    .subContainer{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .descriptionSection{
        width: 100%;
    }

    .buttonsSection{
        width: 100%;
    }
}