.container{
    width: 49%;
    padding: 2% 3%;
    box-sizing: border-box;
}

.mainHeading{
    color: var(--white);
}

.subHeading{
    color: var(--white);
}

.list{
    padding: 0%;
}

.listItem{
    list-style: none;
    padding: 0%;
}

.listItemsContainer{
    margin-left: 0%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.descriptionText{
    margin-left: 2%;
}

.linkButtonContainer{
    width: 24%;
}