.container{
    width: 49%;
    padding: 2% 3%;
    box-sizing: border-box;
    background-color: var(--gray-11);
    border-radius: 20px;
    margin-bottom: 3%;
}

.mainHeading{
    color: var(--white);
    font-family: Lexend-SemiBold;
    font-size: 28px;
    margin: 0%;
}

.infoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.info{
    background-color: var(--gray-10);
    padding: 2% 3%;
    border: 2px solid var(--gray-15);
    border-radius: 50px;
}

.subHeading{
    color: var(--white);
    font-family: Lexend-SemiBold;
    font-size: 20px;
    margin: 0%;
    margin-top: 6%;
}

.list{
    padding: 0%;
}

.listItem{
    list-style: none;
    padding: 0%;
}

.listItemsContainer{
    margin-left: 0%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.descriptionText{
    margin-left: 2%;
}

.linkButtonContainer{
    width: 24%;
}

.regImgContainer{
    display: flex;
}

.regImg{
    margin: auto;
}