.container{
    width: 48%;
    border-left: 1px solid var(--green-60);
    padding-left: 2%;
    box-sizing: border-box;
    margin-bottom: 5%;
}

.headingText{
    font-family: Lexend-Medium;
    font-size: 50px;
    color: var(--gray-30);
    margin: 0%;
}

@media (max-width: 1100px) {
    .container{
        width: 100%;
        font-size: 14px;
    }

    .headingText{
        font-size: 28px;
    }
}