.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
}

.lineArea{
    height: 2px;
    background-color: var(--gray-70);
    width: 30%;
}