.input{
    width: 90%;
    height: 70px;
    border: none;
    padding: 0% 4%;    
    background-color: var(--gray-10);
    border: 1px solid var(--gray-15);
    border-radius: 40px;
    font-family: Lexend-Light;
    font-size: 16px;
}