.container{
    width: 49%;
    height: 46%;
    background-color: var(--gray-11);
    padding: 2% 2%;
    box-sizing: border-box;
    margin-bottom: 2%;
}

.imageContainer{
    width: 100%;
    display: flex;

}

.detailsContainer{
    width: 62%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.detailText{
    background-color: var(--gray-10);
    padding: 2% 4%;
    border: 2px solid var(--gray-15);
    border-radius: 30px;
}

.headingText{
    color: var(--white);
    font-family: Lexend-Regular;
    font-size: 20px;
}

.image{
    margin: auto;
    width: 100%;
    border-radius: 32px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.textContainer{
    padding: 2% 4%;
    box-sizing: border-box;
}

@media (max-width: 700px) {
    .container{
        width: 100%;
        height: 46%;
        background-color: var(--gray-11);
        padding: 2% 2%;
        box-sizing: border-box;
        margin-bottom: 2%;
        margin-bottom: 6%;
    }

    .detailsContainer{
        width: 62%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;
    }
}