
.container{
    background-color: var(--gray-11);
    width: 49%;
    padding: 2% 4%;
    box-sizing: border-box;
    margin-bottom: 2%;
}

.subContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.arrowContainer{
    width: 28px;
    height: 28px;
    display: flex;
}

.headingText{
    font-family: Lexend-Regular;
    font-size: 20px;
    color: var(--white);
}

.arrow{
    margin: auto;
    width: 80%;
}