
.container{
    width: 100%;
    padding: 0% var(--padding-sides);
    box-sizing: border-box;
    margin-top: 6%;
    height: 640px;
}

.contentContainer{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    justify-content: space-between;
    align-items: flex-start;
    height: 80%;
}

.buttonSection{
    display: flex;
    flex-direction: column;
    background-color: var(--gray-11);
    width: 21%;
    height: 60%;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.featureDetailSection{
    width: 77.4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-start;
}

.button{
    font-family: Lexend-Regular;
    font-size: 16px;
    color: var(--white);
    background-color: var(--gray-11);
    border: 1px solid var(--gray-15);
    width: 70%;
    padding: 5% 8%;
    height: 18%;
    box-sizing: border-box;
    border-radius: 38px;
    margin: 4% 0%;
}

.selectedButton{
    background-color: var(--gray-10);
    color: var(--green-60);
}