.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0% var(--padding-sides);
    margin-top: 4%;
    box-sizing: border-box;
}

.section{
    width: 44%;
    height: 100%;
    margin-right: 3%;
}

.textSection{
    margin-top: 4%;
    width: 44%;
    height: 100%;
}

.headingText{
    color: var(--white);
    font-family: Lexend-Medium;
    font-size: 42px;
}

.coloredText{
    color: var(--color);
}

.infoPoint{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-15);
    width: 51%;
    padding: 0% 2%;
    height: 40px;
    border-radius: 50px;
}

.infoPointImageContainer{
    display: flex;
}

.infoPointImage{
    margin: auto;
    width: 100%;
}

.infoPointText{
    font-family: Lexend-Light;
    font-size: 16px;
    line-height: 24px;
}

.text{
    font-family: Lexend-Light;
    font-size: 16px;
}

.buttonContainer{
    width: 24%;
    height: 10%;
    margin-top: 8%;
}