

.container{
    display: flex;
    flex-direction: row;   
}

.contentSection{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.textSection{
    width: 50%;
}

.infoPoint{
    width: 50%;
}

.statsSection{
    display: flex;
    flex-direction: row;
}